<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        .hidden {
            display: none;
        }
    </style>
    <script>
        function autoLogin() {
            document.getElementById("connectForm").submit();
        }

        window.onload = autoLogin;
    </script>
</head>
<body>
    <div class="container">
        <h1>Payment Successful</h1>
        <p>Thank you for your payment!</p>
        <p><strong>MAC Address:</strong> {{ mac }}</p>
        <p><strong>Phone Number:</strong> {{ phone }}</p>
        <p><strong>Package:</strong> {{ profile }}</p>
        <form id="connectForm" action="/login" method="POST">
            <input type="hidden" name="username" value="{{ mac }}">
            <input type="hidden" name="password" value="{{ mac }}">
            <input type="hidden" name="dst" value="http://7c64-154-159-252-52.ngrok-free.app"> <!-- Replace with your desired destination URL -->
            <button type="submit" style="display:none;">Connect</button>
        </form>
    </div>
</body>
</html>